@charset "utf-8";
html,body{height:100%;}
body{
    font-family: 'Nanum Gothic', sans-serif;
    font-size:14px;
}

/* reset */
*{margin:0;padding:0;box-sizing: border-box;}
li{list-style: none;}
a:link,a:visited{text-decoration: none; color:#888}
.clearfix:after{content:"";display: block;clear: both;}
h3{font-size:18px;letter-spacing:-1px;}
.container{
    width: 980px;
    margin:0 auto;
}

/* header */
.top{
    border-bottom: 1px solid #E3D9D9;
    margin-bottom:10px;
}
.submenu{
    float:right;
    height: 26px;
    /* background: skyblue; */
}
.submenu li{float:left;}
.submenu li a{
    display: block;
    /* height: 26px;
    background:pink; */
    font-size:12px;
    padding:0 10px ;
    line-height: 26px;
    position: relative;
}
.submenu li a:after{
    content:"";
    display: block;
    height: 6px;
    width: 6px;
    border-radius: 50px;
    background: #888;
    position: absolute;
    left:-2px;
    top:9px;
}
/* English 옆에 있는 선 */
/* .submenu li:last-child a:after{
    display:none;
} */

h1.logo{
    width: 200px;
    height: 49px;
    margin:0 auto;
    margin-bottom:10px;
}

h1 img{display: block;}

/* bottom */
#hd .bottom{
    background: #1C5DA3;
}
#hd .menu li{
    float:left;
    width:calc(100% / 6);
    position: relative;
    border-right:1px solid #336EAC;
}
#hd .menu li:first-child{
border-left:1px solid #336EAC;
}
#hd .menu li a{
    display: block;
    height: 44px;
    font-weight:bold;
    letter-spacing: -0.8px;
    font-size:16px;
    color:white;
    text-align:center;
    line-height:44px;
}

/* visual */
.visual{
    background-color: #213969;
    background-image: url(../img/visual_bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    /* background-size: 100%; */
    /* 한줄 요약(위에 3줄)
    background-color: #1B335F url(../img/visual_bg.jpg) no_repeat center; */
}
.vWrap{
    position: relative;
    height: 400px;
    overflow: hidden;
}
.visual img{
    position: absolute;
}
.vWrap .img1{
    left:0;
    top:100px;
    margin: top 125px; 
}
.vWrap .img2{
    right:0;
    top:20px;
}

/* banner */
.bWrapper{
    background: #eee;
    margin-bottom:50px;
}
.bWrap li{
    float:left;
    width: calc(100% / 5);
    color:white;
    text-align: center;
    padding:10px 0;
}
.bWrap li img{
    display: block;
    margin:0 auto;
    margin-bottom:10px;
}
.bWrap li h3{
    margin-bottom:7px;
}
.bWrap li:nth-child(1){
    background:#7c99b9;
}
.bWrap li:nth-child(2){
    background: #4f74a1;
}
.bWrap li:nth-child(3){
    background: #4B8CE0;
}
.bWrap li:nth-child(4){
    background: #3DB5F3;
}
.bWrap li:nth-child(5){
    background: #95C8FF;
}

/* job */
.jobWrap div.jobItem{
    float:left;
    width:calc(( 100% - 50px ) / 3);
    margin-right:25px;
    margin-bottom:25px;
}
.jobWrap div.jobItem:last-child{
    margin-right:0;
}
.jobWrap .tWrap{
    padding:20px 15px;
    border: 1px solid #ddd;
    border-top: 0 none;
}
.jobWrap img{
    display: block;
}
.jobWrap h3{
    margin-bottom:6px;
}
.jobWrap p{
    color:#888;
    font-size:13px;
}

.con div.jobItem2{
    float:left;
    width:calc((100% - 50px) / 3);
    margin-right:25px;
    margin-bottom:50px;
}
.con div.jobItem2:last-child{
    margin-right:0;
}
.con .tWrap2{
    height: 170px;
    padding:20px 15px;
    padding-right:0;
    border: 1px solid #ddd;
    position: relative;
    overflow: hidden;
}
.con img{
    display: block;
    float:right;
    position: absolute;
    right:-5px;
    padding-right:0;
}
.con h3{
    margin-top:5px;
    margin-bottom:20px;
    position: relative;
}
.con p{
    color:#888;
    font-size:13px;
    line-height:18px;
    margin-bottom:20px;
    position: relative;

}
.con p1{
    color:#4B8CE0;
    position: relative;
}

/* footer */
.footer{
    height: 145px;
    background:#5E5E5E;
}
.footer .darkfooter{
    height:40px;
    background: #4D4D4D;
}
.footer .f_submenu{
    display: block;
}
.footer .f_submenu li{
    float:left;
    position: relative;
}
.footer .f_submenu li a{
    height:40px;
    display: block;
    font-size:13px;
    color:white;
    text-align:center;
    line-height:25px;
    letter-spacing:-1px;
    padding:10px 20px;
}
.footer .f_submenu a:after{
    content:"";
    display: block;
    height: 15px;
    width: 1px;
    background: #686868;
    position: absolute;
    left:-2px;
    top:15px;
}
.footer .f_submenu li:first-child a:after{
    display:none;
    padding-left:0px;
}
.koreavc h2{
    display: block;
    width:185px;
    height: 105px;
    float:left;
    color:white;
    text-align:center;
    line-height:105px;
    letter-spacing:-8%;
    font-style:oblique;
}
.koreavc h4{
    padding:5px 0;
    margin-bottom:5px;
}
.koreavc .content{
    float:left;
    color:#979797;
    width:85;
    height: 35px;
    margin:10px 0;
}
.koreavc .subname li{
    display: block;
    float:left;
    margin-right:10px;
    padding:1px 0;
    font-size:13px;
    letter-spacing:-11%;
}